#search p, footer, #more a {
  text-align: center; }

#results figure figcaption {
  margin: 10px;
  align-self: flex-start; }

body, header #logo img, #lilmenu, #results, #results figure, #results aside {
  margin: 0;
  border: 0;
  padding: 0; }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

header {
  background: url("../img/lloyd-dirks-74271-unsplash.jpg") no-repeat left bottom;
  background-size: cover;
  height: 150px; }
  @media (min-width: 612px) {
    header {
      height: 200px; } }
  header p {
    float: left; }
  header #logo {
    display: inline;
    color: #DDDDDD;
    font-size: 30px;
    margin: 20px 0 10px 20px; }

#bignav {
  display: none;
  margin-top: 5px;
  float: right; }
  @media (min-width: 612px) {
    #bignav {
      display: block; } }
  #bignav ul {
    margin: 30px 40px 0 0; }
    #bignav ul li {
      display: inline;
      margin-left: 10px;
      padding-right: 10px; }
  #bignav a {
    color: #DDDDDD;
    font-size: 16px;
    text-decoration: none; }
    #bignav a:hover, #bignav a.active {
      color: orange; }

#close {
  display: none; }

#hamburger {
  margin: 20px 20px 0 20px; }

#lilnav {
  overflow: auto;
  display: block; }
  @media (min-width: 612px) {
    #lilnav {
      display: none; } }
  #lilnav img {
    float: right; }

#lilmenu {
  padding: 20px;
  width: 100%;
  overflow: auto;
  display: none;
  background-color: #333333; }
  #lilmenu a {
    color: #DDDDDD;
    font-size: 20px;
    text-decoration: none; }
    #lilmenu a:hover, #lilmenu a.active {
      color: orange; }
  #lilmenu li {
    float: right;
    clear: right;
    display: block;
    margin-right: 40px; }

#search {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  @media (min-width: 612px) {
    #search {
      width: 60%; } }
  #search p {
    color: #DDDDDD;
    font-size: 12px;
    border: solid #333333 3px;
    padding: 0 7px;
    margin: 0;
    background-color: #333333;
    width: 90%; }
    @media (min-width: 612px) {
      #search p {
        width: 60%;
        float: left;
        clear: left; } }
  #search input {
    float: left;
    clear: left;
    border: solid #DDDDDD 5px;
    padding: 5px;
    margin: 0;
    background-color: #DDDDDD;
    font-size: 18px;
    width: 90%; }
    @media (min-width: 612px) {
      #search input {
        font-size: 24px; } }

#moviesearch {
  background: url("../img/search.png") no-repeat right bottom;
  background-size: auto 100%; }

footer {
  background-color: #333333;
  color: #DDDDDD;
  font-size: 12px;
  padding: 10px;
  margin: 10px 5px; }
  @media (min-width: 400px) {
    footer {
      font-size: 16px; } }
  @media (min-width: 612px) {
    footer {
      font-size: 20px; } }
  footer p {
    padding: 0;
    margin: 0; }
  footer img {
    display: inline; }

#results {
  margin: 8px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  @media (min-width: 612px) {
    #results {
      margin-left: 38px; } }
  #results figure {
    margin: 6px 23px;
    background-color: #333333;
    display: flex;
    align-items: center; }
    @media (min-width: 612px) {
      #results figure {
        width: 25%;
        display: block; } }
    #results figure img {
      width: 25%; }
      @media (min-width: 612px) {
        #results figure img {
          display: block;
          width: 100%;
          margin-left: auto;
          margin-right: auto; } }
    #results figure figcaption {
      color: orange;
      font-size: 14px;
      background-color: #333333; }
      @media (min-width: 400px) {
        #results figure figcaption {
          font-size: 16px; } }
  #results aside {
    width: 100%;
    margin: 4px 0; }
    @media (min-width: 612px) {
      #results aside {
        font-size: 20px; } }
    #results aside h1 {
      color: #DDDDDD;
      margin: 0;
      border: solid #333333 5px;
      padding: 0 0 0 7px;
      background-color: #333333;
      width: 100%; }
      @media (min-width: 612px) {
        #results aside h1 {
          width: 40%;
          margin-left: 23px; } }

#more {
  width: 90%;
  margin: 20px auto; }
  #more a {
    width: 90%; }
  @media (min-width: 612px) {
    #more {
      width: 30%; } }

.button {
  padding: 1em;
  color: #333333;
  font-size: 1em;
  background-color: orange;
  font-weight: bold;
  border: none;
  display: inline-block;
  transition: border-radius 0.5s, background-color 0.5s;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-decoration: none; }
  .button:hover {
    text-decoration: none;
    background-color: #DDDDDD;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }
