#search p, footer, #more a {
  text-align: center; }

#results figure figcaption {
  margin: 10px;
  align-self: flex-start; }

body, #results, #results figure, #results aside {
  margin: 0;
  border: 0;
  padding: 0; }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

header {
  background: url("../img/lloyd-dirks-74271-unsplash.jpg") no-repeat left bottom;
  background-size: cover;
  height: 300px; }
  header img {
    margin-top: 15px;
    margin-left: 40px; }
  header nav {
    margin-top: 5px;
    float: right; }
    header nav ul {
      margin-right: 40px; }
      header nav ul li {
        font-size: 24px;
        display: inline;
        margin-left: 10px;
        padding-right: 10px; }
    header nav a {
      color: #DDDDDD;
      font-size: 12px;
      text-decoration: none; }
      header nav a:hover, header nav a.active {
        color: orange; }

#logo {
  display: inline;
  color: #DDDDDD;
  font-size: 30px; }

#search {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 75px; }
  #search p {
    color: #DDDDDD;
    font-size: 12px;
    border: solid #333333 3px;
    padding: 0 5px;
    margin: 0;
    background-color: #333333;
    width: 90%; }
  #search input {
    border: solid #DDDDDD 5px;
    padding: 5px;
    margin: 0;
    background-color: #DDDDDD;
    font-size: 24px;
    width: 90%; }

#moviesearch {
  background: url("../img/search.png") no-repeat right bottom;
  background-size: auto 100%; }

footer {
  background-color: #333333;
  color: #DDDDDD;
  font-size: 12px;
  padding: 10px;
  margin: 10px 5px; }
  footer p {
    padding: 0;
    margin: 0; }
  footer img {
    display: inline; }

#results {
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  #results figure {
    margin: 6px 12px;
    background-color: #333333;
    display: flex;
    align-items: center; }
    #results figure img {
      width: 25%; }
    #results figure figcaption {
      color: orange;
      font-size: 14px;
      background-color: #333333; }
  #results aside {
    width: 100%;
    margin: 4px 0; }
    #results aside h1 {
      color: #DDDDDD;
      margin: 0;
      border: solid #333333 5px;
      padding: 0 0 0 38px;
      background-color: #333333;
      width: 90%; }

#more {
  width: 90%;
  margin: 20px auto; }
  #more a {
    width: 90%; }

.button {
  padding: 1em;
  color: #333333;
  font-size: 1em;
  background-color: orange;
  font-weight: bold;
  border: none;
  display: inline-block;
  transition: border-radius 0.5s, background-color 0.5s;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-decoration: none; }
  .button:hover {
    text-decoration: none;
    background-color: #DDDDDD;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }
