// commonly repeated value

$mainorange: orange;
$mainlightgrey: #DDDDDD;
$backgroundgrey: #333333;
$fontstack:"Helvetica Neue", Helvetica, Arial, sans-serif;
$smallfont: 12px;
$medfont: 16px;
$largefont:20px;


$large: "(min-width: 600px)";
$medium: "(min-width: 400px)";