

html{
  font-family: $fontstack;
}

header{
  background: url("../img/lloyd-dirks-74271-unsplash.jpg") no-repeat left bottom;
  background-size: cover;
  height: 300px;

  img{
    margin-top: 15px;
    margin-left:40px;
  }
  nav{

    margin-top: 5px;
    float: right;

    ul{
    margin-right: 40px;

      li{
        font-size: 24px;
        display: inline;
        margin-left: 10px;
        padding-right: 10px;
      }
    }

    a{
      @include font-color-size($mainlightgrey,16px);
      text-decoration: none;
      
      &:hover, &.active{
        color: $mainorange;
      }

    }
  }

}

#logo{
  display: inline;
  @include font-color-size($mainlightgrey,30px);
}


#search{

  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 75px;
  
  p{
    @include font-color-size($mainlightgrey,16px);
    border: solid $backgroundgrey 5px;
    margin: 0;
    background-color: $backgroundgrey;
    width: 245px;
    @extend %center-text;
  }

  input{
    border: solid $mainlightgrey 5px;
    padding: 5px;
    margin: 0;
    background-color: $mainlightgrey;
    font-size: 24px;
    width: 100%;
  }

}

#moviesearch{
  background: url("../img/search.png") no-repeat right bottom;
  background-size: auto 100%;
  
}


footer{
  @extend %center-text;
  background-color: $backgroundgrey;
  @include font-color-size($mainlightgrey,16px);
  padding: 10px;
  margin: 0px;

  p{
    padding:0;
    margin:0;
  }

  img{
    display: inline;
  }
}

#results{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  figure{
    width:25%;


    img{
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    figcaption{
      width:100%;
      @extend %center-text;
      @include font-color-size($mainorange,14px);
      background-color: $backgroundgrey;
      padding:5px 0;
    }
  }

  aside{
    width:100%;
    margin: 0;
    padding:0;

    h1{
      color: $mainlightgrey;
      padding: 0;
      border: solid $backgroundgrey 5px;
      margin-left: 38px;
      background-color: $backgroundgrey;
      width: 40%;
    }
  }
}











